/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Blue): #3399ff;
Secondary Color (Orange): #ffa500;
Link Visited Color (Purple): #bf3eff;
*/

:root {
  --primary-color: #3399ff;
  --background-color: #f4f4f4;
  --secondary-color: #ffa500;
  --dark-grey: #2b2b2b;
  --Purple: #bf3eff;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}
body {
  font-family: "Noto+Sans+JP", sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  align-self: center;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 700;
}

p {
  color: var(--primary-color);
}

.p__highlight {
  color: var(--secondary-color);
  font-weight: 400;
}

a {
  color: var(--primary-color);
}
a:visited {
  color: var(--Purple);
}
a:hover,
a:focus {
  text-decoration: none;
}
a:active {
  color: var(--secondary-color);
}

button {
  border: none;
  font-family: inherit;
  background-color: var(--secondary-color);
  color: var(--dark-grey);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button_secondary {
  background-color: var(--primary-color);
  color: var(--dark-grey);
}

.page-header__logo {
  float: left;
  width: 80px;
  height: auto;
  margin-right: 40px;
}

.profile__portrait {
  float: left;
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.page-footer {
  clear: both;
}

* {
  box-sizing: border-box;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
}

.page-header__item {
  align-self: center;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: lightgray;
}

.grid__item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--Purple);
  color: var(--background-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.aboutme {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.skills {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
}

.skills table {
  margin: 0 auto;
}

/*animated image*/
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
